<?php
class AdminPage {
  public static function register() {
    add_action('admin_menu', function() {
      add_menu_page('{{PLUGIN_NAME}}', '{{PLUGIN_NAME}}', 'manage_options', '{{PLUGIN_SLUG}}', [self::class, 'render']);
    });
  }
  public static function render() {
    echo '<div class="wrap"><h1>{{PLUGIN_NAME}}</h1><p>Connect Google/Microsoft and configure services.</p></div>';
  }
}
AdminPage::register();
